[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mngola
[access "refs/for/refs/*"]
	read = group user/mngola
	push = group user/mngola
	label-Code-Review = -2..+2 group user/mngola
	label-Verified = -1..+1 group user/mngola
	rebase = group user/mngola
	removeReviewer = group user/mngola
	submit = group user/mngola
[access "refs/heads/*"]
	read = group user/mngola
	create = group user/mngola
	push = +force group user/mngola
	pushMerge = group user/mngola
[access "refs/tags/*"]
	push = group user/mngola
	push = +force group user/mngola
[project]
	description = Example project for Gerrit testing
